body{
  background-color: #0cc9a9;
}

h1, p {
  font-family: Lato;
}

#title{
  text-align: center;
}

#div{
  align-items:stretch;
}

.navbutton {
  transition-duration: 0.4s;
  position: relative;
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  left:35%;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 6px;
  cursor: pointer;
  border-radius: 10px;
  text-decoration: none;
}

.navbutton:hover{
  color: white;
  background-color:rgb(1, 101, 134);
}

a, visited{
  text-decoration: none;
  color:white;
}